<section class="contactSection">
    <div class="container">
      <h1>Contact Us</h1>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
          <h5 *ngIf="success">Your form is valid!</h5>
          <label>
            Name:
            <input type="text" formControlName="name">
            <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
                <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
            </div>
          </label>
          <label>
              Message:
              <input type="text" formControlName="message">
              <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                  <div *ngIf="messageForm.controls.message.errors.required">A Message is required</div>
              </div>
            </label>
            <input type="submit" value="Send message" class="cta">
        </form>

        <div *ngIf="submitted" class="results">
          <strong>Name: </strong>
          <span>{{ messageForm.controls.name.value }}</span><br>

          <strong>Message: </strong>
          <span>{{ messageForm.controls.message.value }}</span>
        </div>
    </div>
  </section>