.contactSection{
    label{
        display: block;
        margin: 1em 0em;
        font-size: 18px;
        input{
            display: block;
            padding: 0.5em;
            margin-top: 0.5em;
            outline: none;
        }
        .error{
            background-color: yellow;
            margin-top: 1em;
            display: inline-block;
            padding: 0em 0.5em;
        }
    }
    .cta{
        background-color: darkred;
        color: white;
        padding: 0.5em 1em;
        border-radius: 2em;
        outline: none;
    }
    .results{
        margin-top: 1em;
        line-height: 2em;
    }
}