header{
    background-color: darkred;
    font-size: 20px;
    nav{
        ul{
            margin:0px;
            padding: 0px;
            .displayRight{
                float: right;
                li{
                    padding-left: 1em;
                    padding-right: 1em;
                }
            }
            li{
                display: inline-block;
                padding-top: 1.5em;
                padding-bottom: 1em;
                &:hover{
                    background-color: brown;
                }
            }
            li a{
                color: white;
                text-decoration: none;
            }
        }
    }
}