<header>
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink='/' class="logo">{{ logo }}</a></li>
        <div class="displayRight">
            <li><a routerLink='/'>Home</a></li>
            <li><a routerLink='/about'>About</a></li>
            <li><a routerLink='/contact'>Contact Us</a></li>
        </div>
      </ul>
    </nav>
  </div>
</header>