.usersSection{
    ul{
        margin-top: 3em;
        padding: 0px;
        li{
            display: block;
            padding: 24px 20px;
            margin:0.6em 0em;
            background-color: lightgrey;
            img{
                border-radius: 5em;
            }
            p{
                padding: 10px 0px;
                margin-left: 20px;
                font-size: 20px;
                display: inline;
                font-weight: 600;
            }
        }
    }
}