<section class="usersSection">
  <div class="container">
    <h1>List of users</h1>
      <ul *ngIf="users">
          <li *ngFor="let user of users.data">
            <img [src]="user.avatar">
            <p>{{ user.first_name }}{{ user.last_name }}</p>
          </li>
        </ul>
  </div>
</section>